@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

events-letter-spacing {
	letter-spacing: 0.04em;
}

treasure-hunt-letter-spacing {
	letter-spacing: 0.1em;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
hgroup {
	color: white;
	font-family: "Sancreek", cursive;
}

#event-container {
	background-image: url("/Background.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	/* margin-top: -2.5rem; */
}

#wooden {
	transition: transform 0.2s; /* Animation */
}
#wooden:hover {
	transform: scale(1.1);
}
#events-text {
	font-family: "Inter", sans-serif;
}

.container {
	max-width: 80rem;
	width: 100%;
	margin: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}
.highlight {
	font-family: "Sancreek", cursive;
}

.dotted-border {
	border-style: none none dashed none;
	border-width: 0.1rem;
	border-color: white;
}
