@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.pirate-font{
  
}
events-letter-spacing
{
  letter-spacing: 0.04em;
  
}

treasure-hunt-letter-spacing
{
  letter-spacing: 0.1em;
}
hgroup{
  
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#arrow{
  margin-left:7rem;
  margin-top:-2rem;
}

#card-text{
   margin-top: -8rem;
   margin-left:5.5rem;
   color:white;
   text-transform: uppercase;
}