.heroSection {
	background-image: url("/Background.png");
	height: 100vh;
	color: white;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.wrapper {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	grid-auto-rows: minmax(100px, auto);
}

.one {
	grid-column: 1 / 2;
	grid-row: 1;
}

.two {
	grid-column: 2 / 2;
	grid-row: 1;
}

.timer {
	background-image: url("/woodenBoard.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding: 0rem 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.video {
	width: 100%;
	height: 100%;
	margin-bottom: 100px;
}
.stroke{
	/* -webkit-text-stroke: 0.08px black;
    -webkit-text-fill-color: white; */
	
}